I create an xlsx file you all data. Then I sort the data and remove all cells with a borough that is **Not assigned**.     

No Neighborhood cell with "No assigned" label remained in the data set.

In [1]:
# Library
import pandas as pd
!pip install xlrd

Requirement already satisfied: xlrd in e:\anaconda3\lib\site-packages (1.2.0)

In [15]:
# Creating DataFrame
columns = ['Postal Code', 'Borough', 'Neighborhood']
Toronto = pd.DataFrame(columns=columns)
path= "C:/Users/Oli/Documents/Formation Data science IBM/Cours 9 - Applied Data Science Capstone/II. FourSquare/Eval/Data.xlsx"

In [16]:
Toronto= pd.read_excel(path, names= columns)
Toronto

,Postal Code,Borough,Neighborhood
0,M5N,Central Toronto,Roselawn
1,M4P,Central Toronto,Davisville North
2,M5P,Central Toronto,"Forest Hill North & West, Forest Hill Road Park"
3,M4R,Central Toronto,"North Toronto West, Lawrence Park"
4,M5R,Central Toronto,"The Annex, North Midtown, Yorkville"
...,...,...,...
97,M6S,West Toronto,"Runnymede, Swansea"
98,M6C,York,Humewood-Cedarvale
99,M6E,York,Caledonia-Fairbanks
100,M6M,York,"Del Ray, Mount Dennis, Keelsdale and Silverthorn"
101,M9N,York,Weston

In [4]:
# Checking the shape
Toronto.shape

(102, 3)

In [10]:
path_geo = "C:/Users/Oli/Documents/Formation Data science IBM/Cours 9 - Applied Data Science Capstone/II. FourSquare/Eval/Geospatial_Coordinates.csv"
Torontocoor = pd.DataFrame()
TorontoCoor= pd.read_csv(path_geo)
TorontoCoor

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [18]:
df = pd.merge(Toronto, TorontoCoor, on='Postal Code')
df

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M5N,Central Toronto,Roselawn,43.711695,-79.416936
1,M4P,Central Toronto,Davisville North,43.712751,-79.390197
2,M5P,Central Toronto,"Forest Hill North & West, Forest Hill Road Park",43.696948,-79.411307
3,M4R,Central Toronto,"North Toronto West, Lawrence Park",43.715383,-79.405678
4,M5R,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678
...,...,...,...,...,...
97,M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
98,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
99,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
100,M6M,York,"Del Ray, Mount Dennis, Keelsdale and Silverthorn",43.691116,-79.476013
101,M9N,York,Weston,43.706876,-79.518188